<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Water Intake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>682139F81E50AE4500F8CFAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68213A0F1E50AE4600F8CFAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68213A1A1E50AE4600F8CFAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
